::-moz-selection { background: rgba(0,255,124,0.5); color: 000; text-shadow: none; }
::selection { background: rgba(0,255,124,0.5); color: #000; text-shadow: none; }

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-regular-web.eot');
  src: url('../font/th-regular-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-regular-web.woff') format('woff'),
     url('../font/th-regular-web.ttf') format('truetype'),
     url('../font/th-regular-web.svg#th-regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-medium-web.eot');
  src: url('../font/th-medium-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-medium-web.woff') format('woff'),
     url('../font/th-medium-web.ttf') format('truetype'),
     url('../font/th-medium-web.svg#th-medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

/* NAV */
header {
  overflow: hidden;
}

#logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

nav {
  font-size: 16px;
}

nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

nav li {
  display: inline-block;
  float: left;
  padding: 10px
}

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

nav input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav label {
  font-size: 3em;
  display: none;
  cursor: pointer;
  user-select: none;
  height: 105px;
  text-align: right;
}

nav {
  width: 100%;
}

nav label {
  display: block;
}

nav ul {
  display: none;
  float: left;
}

nav li {
  padding: 10px 10px 10px 0;
}

/* checked */
nav input:checked ~ ul {
  display: block;
}

nav input:checked ~ label:after {
  content: "\2715";
  font-size: 26px;
}

nav label:after {
  content: "\2261";
}
/* NAV END */

/* PROJECT */
.content {
  font-size: 0.8em;
}

.content h1 {
  display: block;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

.content .main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

ul.tags {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(221, 222, 220);
  list-style: none;
  overflow: hidden;
}

ul.tags li {
  float: left;
  padding: 0 10px;
}

/* END PROJECT */

body {
  font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.1em;
  line-height: 1.6em;
  background-color: #CCCCCC;
  color: #555;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
  margin: 0 0 1px 0;
  border-color: #00dddd;
  border-style: solid;
  border-width: 0 0 2px 0;
}

a:hover {
  border-left: 1px;
  border-right: 1px;
  background-color: #00dddd;
  background-color: #00dddd;
  background-image: -webkit-linear-gradient(top, #00dddd, #00dddd);
  background-image:    -moz-linear-gradient(top, #00dddd, #00dddd);
  background-image:      -o-linear-gradient(top, #00dddd, #00dddd);
  background-image:         linear-gradient(to bottom, #00dddd, #00dddd);
  border-top-color: #00dddd;
  border-bottom-color: #00dddd;
  color: #000;
  text-decoration: none;
  border-width: 4px 0 2px 0;
}

p, h1, h2 { 
  margin: 0;
  padding: 0.5em 0;
}

h1, h2, strong {
  font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.nowrap {
  white-space: nowrap;
}

#main {
  float:left;
  clear:both;
  margin: 1.5em 5% 3em 5%;
  width: 90%;
}

footer {
  margin-top:40px;
  font-size: 65%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size :0.5em;
  line-height: 2.6em;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* Responsive settings */

/*
@media screen and (min-width: 45em) {body {font-size: 1.25em;} }

@media screen and (min-width: 61.5em) {body {font-size: 1.75em;}}

@media screen and (min-width: 75em) {body {font-size: 2em;}
  p, h1, h2 { 
    letter-spacing: -0.05em;
  }

  h1, h2, strong, #wow {
    font-weight: 500;
  }
}

@media screen and (min-width: 87em) {body {font-size: 2.5em;}}
  
@media screen and (min-width: 90em) {body {font-size: 3.5em;}}

@media screen and (min-width: 170em) {body {font-size: 4em;}}

@media screen and (min-width: 200em) {
  body {font-size: 6em;}
}
*/
