::-moz-selection { background: rgba(0,255,124,0.5); color: 000; text-shadow: none; }
::selection { background: rgba(0,255,124,0.5); color: #000; text-shadow: none; }

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-regular-web.eot');
  src: url('../font/th-regular-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-regular-web.woff') format('woff'),
     url('../font/th-regular-web.ttf') format('truetype'),
     url('../font/th-regular-web.svg#th-regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-medium-web.eot');
  src: url('../font/th-medium-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-medium-web.woff') format('woff'),
     url('../font/th-medium-web.ttf') format('truetype'),
     url('../font/th-medium-web.svg#th-medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

/* NAV */
header {
  overflow: hidden;
  margin-bottom: 100px;
}

#logo {
  float: left;
  height: 80px;
  width: 80px;
}

nav {
  margin-top: 30px;
  font-size: 1.1em;
}

nav a.active {
  text-decoration: underline;
}

nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  float: left;
  padding-left: 20px;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
}

nav label {
  display: block;
}

/* NAV END */

/* PROJECT */
.content {
  font-size: 0.8em;
}

.content h1 {
  display: block;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

.content .main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

ul.tags {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

ul.tags li {
  float: left;
  padding: 10px 15px;
  background-color: rgb(221, 222, 220);
  margin-right: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: black;
}

/* END PROJECT */

body {
  font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #CCCCCC;
  color: #555;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p, h1, h2 { 
  margin: 0;
  padding: 0.5em 0;
}

h1, h2, strong {
  font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.nowrap {
  white-space: nowrap;
}

#main {
  padding: 25px 25px 0 25px;
  max-width: 1200px; 
  margin: 0 auto; 
}

footer {
  margin-top:40px;
  font-size: 65%;
  clear: both;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size : 65%;
  line-height: 2.6em;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

ul.link-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

ul.link-list li {
  margin-bottom: 1em;
}

.column-layout {
  -webkit-columns: 300px 3;
  -moz-columns: 300px 3;
  columns: 300px 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
}
