::-moz-selection { background: rgba(0,255,124,0.5); color: 000; text-shadow: none; }
::selection { background: rgba(0,255,124,0.5); color: #000; text-shadow: none; }

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-regular-web.eot');
  src: url('../font/th-regular-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-regular-web.woff') format('woff'),
     url('../font/th-regular-web.ttf') format('truetype'),
     url('../font/th-regular-web.svg#th-regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'TH Font Web';
  src: url('../font/th-medium-web.eot');
  src: url('../font/th-medium-web.eot?#iefix') format('embedded-opentype'),
     url('../font/th-medium-web.woff') format('woff'),
     url('../font/th-medium-web.ttf') format('truetype'),
     url('../font/th-medium-web.svg#th-medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

/* NAV */
header {
  overflow: hidden;
}

#logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

nav {
  font-size: 16px;
}

nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

nav li {
  display: inline-block;
  float: left;
  padding: 10px
}

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

nav input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav label {
  font-size: 3em;
  display: none;
  cursor: pointer;
  user-select: none;
  height: 105px;
  text-align: right;
}

nav {
  width: 100%;
}

nav label {
  display: block;
}

nav ul {
  display: none;
  float: left;
}

nav li {
  padding: 10px 10px 10px 0;
}

/* checked */
nav input:checked ~ ul {
  display: block;
}

nav input:checked ~ label:after {
  content: "\2715";
  font-size: 26px;
}

nav label:after {
  content: "\2261";
}
/* NAV END */

/* PROJECT */
.content {
  font-size: 0.8em;
}

.content h1 {
  display: block;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

.content .main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(221, 222, 220);
}

ul.tags {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(221, 222, 220);
  list-style: none;
  overflow: hidden;
}

ul.tags li {
  float: left;
  padding: 0 10px;
}

/* END PROJECT */

body {
  font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
	text-rendering: optimizeLegibility;
  font-size: 1em;
  line-height: 1.5;
	background-color: #CCCCCC;
  color: #555;
	margin: 0;
	padding: 0;
}

img {
  width: 100%;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
	margin: 0 0 1px 0;
	border-color: #00dddd;
	border-style: solid;
	border-width: 0 0 2px 0;
}

a:hover {
	border-left: 1px;
	border-right: 1px;
	background-color: #00dddd;
	background-color: #00dddd;
	background-image: -webkit-linear-gradient(top, #00dddd, #00dddd);
	background-image:    -moz-linear-gradient(top, #00dddd, #00dddd);
	background-image:      -o-linear-gradient(top, #00dddd, #00dddd);
	background-image:         linear-gradient(to bottom, #00dddd, #00dddd);
	border-top-color: #00dddd;
	border-bottom-color: #00dddd;
	color: #000;
	text-decoration: none;
	border-width: 4px 0 2px 0;
}

p, h1, h2 { 
	font-size:1em;
	margin: 0;
  padding: 0.5em 0;
}

h1, h2, strong {
	font-family: 'TH Font Web', "Vera Sans Mono", "Panic Sans", Consolas, "Andale Mono", Courier, monospace;
  font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

.nowrap {white-space: nowrap;}

/*
a
{
	white-space: nowrap;
}
*/

#main {
	float:left;
	clear:both;
	/*margin: 2em 5% 3em 5%;*/
    margin: 1.5em 5% 3em 5%;
	width: 90%;
}

#footer {
	/*position: fixed;*/
    margin-top:40px;
	bottom: 1em;
	left: 5%;
	max-width: 95%;
	color:#555;
	font-size: 40%;
	line-height: 120%;
}

#wow {
    display: none !important;
    visibility: hidden;
}

.haswebfonts {
	display:none;
}

.webfonts .haswebfonts {
	display: inline !important;
}

/* ==========================================================================
   toggle container 1
   ========================================================================== */

#toggle_container1 {
    background-color: #ddd;
    font-size: 0.7em;
    line-height: 2em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container1 p {
    background-color: #eee;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container1 p a:link {
    color: inherit;
	text-decoration: none;
	margin: 0 0 2px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container1 a:visited {
    color: inherit;
	text-decoration: none;
	margin: 0 0 1px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container1 a:hover {
    border-left: 1px;
	border-right: 1px;
	background-color: yellow;
	background-color: yellow;
	background-image: -webkit-linear-gradient(top, yellow, yellow);
	background-image:    -moz-linear-gradient(top, yellow, yellow);
	background-image:      -o-linear-gradient(top, yellow, yellow);
	background-image:         linear-gradient(to bottom, yellow, yellow);
	border-top-color: yellow;
	border-bottom-color: yellow;
	color: #000;
	text-decoration: none;
	border-width: 4px 0 2px 0;
}

#show_label1 { 
}

#show_label1:hover { 
	cursor: pointer;
    color:yellow;
}

#show_label1_none:hover { 
	cursor: pointer;
    color:yellow;
}

#hide_label1 {
	cursor: pointer;
	display:none;
}

#hide_label1:hover {
	cursor: pointer;
	display:none;
    color:yellow;
}

/* ==========================================================================
   toggle container 2
   ========================================================================== */

#toggle_container2 {
    background-color: #ddd;
    font-size: 0.7em;
    line-height: 1.6em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container2 p {
    background-color: #eee;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#show_label2 { 
}

#show_label2:hover { 
	cursor: pointer;
    color: yellow;
}

#show_label2_none:hover { 
	cursor: pointer;
    color:yellow;
}

#hide_label2 {
	cursor: pointer;
	display:none;
}

#hide_label2:hover {
	cursor: pointer;
	display:none;
    color:yellow;
}

/* ==========================================================================
   toggle container 3
   ========================================================================== */

#toggle_container3 {
    background-color: #ddd;
    font-size: 0.7em;
    line-height: 2em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container3 p {
    background-color: #eee;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container3 p a:link {
    color: inherit;
	text-decoration: none;
	margin: 0 0 2px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container3 a:visited {
    color: inherit;
	text-decoration: none;
	margin: 0 0 1px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container3 a:hover {
    border-left: 1px;
	border-right: 1px;
	background-color: yellow;
	background-color: yellow;
	background-image: -webkit-linear-gradient(top, yellow, yellow);
	background-image:    -moz-linear-gradient(top, yellow, yellow);
	background-image:      -o-linear-gradient(top, yellow, yellow);
	background-image:         linear-gradient(to bottom, yellow, yellow);
	border-top-color: yellow;
	border-bottom-color: yellow;
	color: #000;
	text-decoration: none;
	border-width: 4px 0 2px 0;
}

#show_label3 { 
}

#show_label3:hover { 
	cursor: pointer;
    color:yellow;
}

#show_label3_none:hover { 
	cursor: pointer;
    color:yellow;
}

#hide_label3 {
	cursor: pointer;
	display:none;
}

#hide_label3:hover {
	cursor: pointer;
	display:none;
    color:yellow;
}

/* ==========================================================================
   toggle container 4
   ========================================================================== */

#toggle_container4 {
    background-color: #ddd;
    font-size: 0.7em;
    line-height: 1.6em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container4 p {
    background-color: #eee;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#show_label4 { 
}

#show_label4:hover { 
	cursor: pointer;
    color: yellow;
}

#show_label4_none:hover { 
	cursor: pointer;
    color:yellow;
}

#hide_label4 {
	cursor: pointer;
	display:none;
}

#hide_label4:hover {
	cursor: pointer;
	display:none;
    color:yellow;
}

/* ==========================================================================
   toggle container 5
   ========================================================================== */

#toggle_container5 {
    background-color: #ddd;
    font-size: 0.7em;
    line-height: 1.6em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container5 p {
    background-color: #eee;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#toggle_container5 p a:link {
    color: inherit;
	text-decoration: none;
	margin: 0 0 2px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container5 a:visited {
    color: inherit;
	text-decoration: none;
	margin: 0 0 1px 0;
	border-color: yellow;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#toggle_container5 a:hover {
    border-left: 1px;
	border-right: 1px;
	background-color: yellow;
	background-color: yellow;
	background-image: -webkit-linear-gradient(top, yellow, yellow);
	background-image:    -moz-linear-gradient(top, yellow, yellow);
	background-image:      -o-linear-gradient(top, yellow, yellow);
	background-image:         linear-gradient(to bottom, yellow, yellow);
	border-top-color: yellow;
	border-bottom-color: yellow;
	color: #000;
	text-decoration: none;
	border-width: 4px 0 2px 0;
}

#show_label5 { 
}

#show_label5:hover { 
	cursor: pointer;
    color:yellow;
}

#show_label5_none:hover { 
	cursor: pointer;
    color:yellow;
}

#hide_label5 {
	cursor: pointer;
	display:none;
}

#hide_label5:hover {
	cursor: pointer;
	display:none;
    color:yellow;
}

.rslides_container  {

  }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size :0.5em;
  line-height: 2.6em;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/********** ----- CONTACT PAGE ----- **********/

/* ----- Form ----- */

.contact-us {
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.contact-us p {
    padding: 0 20px;
}

.contact-form {
    padding: 10px 0;
}

.contact-form p {
    margin-top: 15px;
}

.contact-us form {
}

.contact-us name {
        color: yellow;
}

.contact-us form input, .contact-us form textarea {
  width: 100%;
  height: 24px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
  font-size: 13px;
}

.contact-us form input:focus, .contact-us form textarea:focus {
    border: 1px solid #bbb;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-us form textarea {
    height: 160px;
}

.contact-us form button {
    width: 120px;
    height: 30px;
    margin-top: 15px;
    background: yellow;
    border: 0;
    font-size: 13px;
    border-left: 1px;
	border-right: 1px;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.contact-us form button:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-us form button:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.contact-us form label {
    margin-top: 10px;
    font-size: 13px;
}

.contact-us form input:-moz-placeholder, .contact-us form textarea:-moz-placeholder { color: #ccc; }
.contact-us form input:-ms-input-placeholder, .contact-us form textarea:-ms-input-placeholder { color: #ccc; }
.contact-us form input::-webkit-input-placeholder, .contact-us form textarea::-webkit-input-placeholder { color: #ccc; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 45em) {body {font-size: 1.25em;} }

@media screen and (min-width: 61.5em) {body {font-size: 1.75em;}}

@media screen and (min-width: 75em) {body {font-size: 2em;}
	p, h1, h2 { 
		letter-spacing: -0.05em;
	}

	h1, h2, strong, #wow {
		font-weight: 500;
	}
}


@media screen and (min-width: 87em) {body {font-size: 2.5em;}}
  
@media screen and (min-width: 90em) {body {font-size: 3.5em;}}

@media screen and (min-width: 170em) {body {font-size: 4em;}}

@media screen and (min-width: 200em) {
	body {font-size: 6em;}	
	#wow {    
		display: inline !important;
	    visibility: visible;
	}
}
