---
layout: main
title: TH Land BERLIN &amp; HAMBURG
---
<div class="rslides_container">
  <ul class="rslides" id="slider">
    <li>
      <img src="asset/image/bg.jpg">Projekt A. Berlin, 2014
    </li>
    <li>
      <img src="asset/image/bg1.jpg">Projekt B. Berlin, 2014
    </li>
    <li>
      <img src="asset/image/bg2.jpg">Projekt C. Berlin, 2014
    </li>
  </ul>
</div>
<p>
  Landscape, Landscape, Landscape.
</p>
<p>
  We are <strong><a href="http://.de/" title="xxx" target="_blank">Deniz Dizici</a></strong> and <strong><a href="http://.de/" title="xxx" target="_blank">Gerko Schröder</a></strong>, based in Berlin and Hamburg. We are partners at <strong><a class="nowrap" href="http://treibhausberlin.de/" title="treibhausberlin.de">TH Land</a></strong>. We&nbsp;design landscapes, …, … etc.
</p>
<p>
  We also teach landscape design at Berlin TU University <strong><a href="http://.de/" title="xxx" target="_blank">TU Berlin</a></strong>.
</p>
<div>
  <div id="toggle_action1">
    <p id="show_label1" class="iconicfill-arrow-down">
      Our Cooperations so far …
    </p>
    <p id="hide_label1" class="iconicfill-x">
      close Cooperations
    </p>
  </div>
  <div id="toggle_container1" style="display:none;">
    {% for cooperation in site.cooperations %}
      {{ cooperation.output }}
    {% endfor %}
    <div id="show_label1_none" class="iconicfill-x"></div>
  </div>
</div>
<p>
  If you`re looking for more informationen about our <strong>works</strong> of the last years, you can find it here: <a href="http://.de">works</a>. You&nbsp;can also view our latest competitions at <a href="http://www.competitionline.com/de/bueros/16566" target="_blank">Competitionline</a>.
</p>
<div>
  <div id="toggle_action5">
    <div id="up"></div>
    <p id="show_label5" class="iconicfill-arrow-down">
      Watch our projects here …
    </p>
    <p id="hide_label5" class="iconicfill-x">
      close projects
    </p>
  </div>
  <div id="toggle_container5" style="display:none;">
    <p>
      <a href="#2009">2009</a>&nbsp;/&nbsp;<a href="#2011">2011</a>
    </p><br>
    <p>
      Senatsverwaltung für Stadtentwicklung Berlin<br>
      Bezirksamt Friedrichshain-Kreuzberg Berlin<br>
      Stadtplanungs- und Tiefbauamt Leipzig<br>
      Stadtplanungsamt Bern<br>
    </p>
    <p>
      Wettbewerb 2. Platz / Honorarzone / erbrachte Leistungen / Bauzeit /Planungszeit
    </p>
    <p>
      Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als am Ziele ihrer Fahrt die Tochter als erste sich erhob und ihren jungen Körper dehnte.
    </p>
    <p>
      <img src="asset/image/bg2.jpg" width="100%;">Lalalala, Berlin 2014<br>
      <a href="./data/.pdf" class="iconicfill-download">download project</a>
    </p><br>
    <p id="2011">
      Projekte 2011<br>
    </p>
    <p>
      Stadt Regensburg<br>
      Staatliches Bauamt Bayern, Stadt Flossenbürg<br>
      DSK Deutsche Stadt- und Grundstücksentwicklungsgesellschaft<br>
      Jugendwohnen im Kiez e.V. Berlin<br>
      ts/pk Thies Schröder Planungskom.<br>
      Deutsche Kinder- und Jugendstiftung DKJS
    </p>
    <p>
      <img src="asset/image/bg.jpg" width="100%;">Tütütütü, München 2011
    </p><br>
    <p id="2009">
      Projekte 2009<br>
    </p>
    <p>
      <img src="asset/image/bg1.jpg" width="100%;">Guruguru, München 2009
    </p><br>
    <a href="#up" style="text-align:right" class="iconicfill-arrow-up"></a>
    <div id="show_label5_none" class="iconicfill-x"></div>
  </div>
</div>
<div>
  <p>
    Yes please, get in touch: <strong><a href="mailto:contact@thland.de" title="It’s that easy.">contact@thland.de</a></strong>, <span class="nowrap"><strong>+49 123 456 789</strong>.</span>
  </p>
  <div>
    <div id="toggle_action2">
      <p id="show_label2" class="iconicfill-arrow-down">
        About us
      </p>
      <p id="hide_label2" class="iconicfill-x">
        close About us
      </p>
    </div>
    <div id="toggle_container2" style="display:none;">
      <p>
        Das Büro Treibhaus wurde 2004 von <strong>Jan Bunge</strong>, <strong>Deniz Dizici</strong>, <strong>Daniel Stimberg</strong> und <strong>Gerko Schröder</strong> nach dem Gewinn des Lenné-Preises 2003 und des Schinkelpreises 2004 sowie daraus resultierenden ersten Aufträgen in Berlin gegründet. 2005 wurde das Büro um den ehemaligen „Lehrer“ der vier Gründungsmitglieder, Michael Heurich, als Seniorpartner erweitert. Seit 2011 führen Deniz Dizici und Gerko Schröder als aktive Partner das Büro. 2012 wurde neben dem Büro in Berlin ein Standort in Hamburg eröffnet.
      </p><br>
      <p>
        Treibhaus begreift sich als Werkstatt, in der im Dialog mit Architekten, Künstlern, Designern und Ingenieuren anderer Fachrichtungen, die gesamte Bandbreite der Landschaftsarchitektur bearbeitet wird. Das Arbeitsspektrum reicht von städtebaulichen Konzepten über Landschaften, Freiräume im urbanen und suburbanen Kontext, bis zu Gärten, temporären Rauminstallationen, Ausstellungen und der Entwicklung von Freiraummobiliar.
      </p><br>
      <div id="show_label2_none" class="iconicfill-x"></div>
    </div>
  </div>
  <div>
    <div id="toggle_action3">
      <p id="show_label3" class="iconicfill-arrow-down">
        Competitions
      </p>
      <p id="hide_label3" class="iconicfill-x">
        close Competitions
      </p>
    </div>
    <div id="toggle_container3" style="display:none;">
      {% assign sorted_competitions = (site.competitions | sort: 'year') %}
      {% for competition in sorted_competitions reversed %}
        {{ competition.output }}
      {% endfor %}
      <div id="show_label3_none" class="iconicfill-x"></div>
    </div>
  </div>
  <div>
    <div id="toggle_action4">
      <p id="show_label4" class="iconicfill-arrow-down">
        Contact form
      </p>
      <p id="hide_label4" class="iconicfill-x">
        close Contact form
      </p>
    </div>
    <div id="toggle_container4" style="display:none;">
      <p>
        Contact form
      </p>
      <div class="contact-us container">
        <div class="contact-form">
          <form method="post" action="assets/sendmail.php">
            <label for="name" class="nameLabel">Name</label> <input id="name" type="text" name="name" placeholder="Enter your name..."> <label for="email" class="emailLabel">Email</label> <input id="email" type="text" name="email" placeholder="Enter your email..."> <label for="subject">Subject</label> <input id="subject" type="text" name="subject" placeholder="Your subject..."> <label for="message" class="messageLabel">Message</label> 
            <textarea id="message" name="message" placeholder="Your message..."></textarea>
            <button type="submit">Send</button>
          </form>
          <div>
            <p>
              Address<br>
              Kottbusser Damm 74<br>
              10000 Berlin<br>
              Phone: +49 123 456 789
            </p>
          </div>
        </div>
      </div>
      <div id="show_label4_none" class="iconicfill-x"></div>
    </div>
    <iframe width="100%" height="420" src="http://maps.stamen.com/watercolor/embed#15/52.4931/13.4236"></iframe>
    <iframe width="100%" height="420" src="http://maps.stamen.com/toner-lines/embed#15/52.4941/13.4261"></iframe>
    
    <script type="text/javascript">

      function toggleMe(container, showLabel, hideLabel) {
        $(container).slideToggle({
          duration: 350,
          easing: 'swing',
          complete: function() {
            if ($(container).css('display') === 'block') {
              $(hideLabel).show();
              $(showLabel).hide();
            } else {
              $(hideLabel).hide();
              $(showLabel).show();
            }
          }
        });
      }

      $(document).ready(function(){
        $('#toggle_action1, #show_label1_none').click(function() {
          toggleMe('#toggle_container1', '#show_label1', '#hide_label1');
        });
        $('#toggle_action2, #show_label2_none').click(function() {
          toggleMe('#toggle_container2', '#show_label2', '#hide_label2');
        });
        $('#toggle_action3, #show_label3_none').click(function() {
          toggleMe('#toggle_container3', '#show_label3', '#hide_label3');
        });
        $('#toggle_action4, #show_label4_none').click(function() {
          toggleMe('#toggle_container4', '#show_label4', '#hide_label4');
        });
        $('#toggle_action5, #show_label5_none').click(function() {
          toggleMe('#toggle_container5', '#show_label5', '#hide_label5');
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".rslides").responsiveSlides({
          auto: true,             // Boolean: Animate automatically, true or false
          speed: 1000,            // Integer: Speed of the transition, in milliseconds
          timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
          pager: false,           // Boolean: Show pager, true or false
          nav: false,             // Boolean: Show navigation, true or false
          random: false,          // Boolean: Randomize the order of the slides, true or false
          pause: false,           // Boolean: Pause on hover, true or false
          pauseControls: true,    // Boolean: Pause when hovering controls, true or false
          prevText: "Previous",   // String: Text for the "previous" button
          nextText: "Next",       // String: Text for the "next" button
          maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
          navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
          manualControls: "",     // Selector: Declare custom pager navigation
          namespace: "rslides",   // String: Change the default namespace used
          before: function(){},   // Function: Before callback
          after: function(){}     // Function: After callback
        });
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('a[href^="##"]').on('click',function (e) {
          e.preventDefault();
          var target = this.hash,
          $target = $(target);
          $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 0
          }, 1000, 'swing', function () {
            window.location.hash = target;
          });
        });
      });
    </script>
  </div>
</div>
